.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Img {
    width: 300px;
    margin: 40px;
    justify-self: center;
}

.Titulo {
    padding: 10px 15px;
    font-size: 50px
}

.Titulo:hover {
    background-color: #41ff00;
}